.header {
   width: 100%;
   height: 40px;
   background-color: pink;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.ul_menu {
   height: 40px;
   display: flex;
   align-items: center;
   gap: 20px;
}
.profile_img
{
   width: 30px;
   height: 30px;
   border-radius: 20px;
}
.logged
{
   position: absolute;
   top: 50px;
   right: 100px;
   animation-name: logged;
   animation-duration: 1s;
   opacity: 0;
}
@keyframes logged {
   0% {opacity: 0;}
   10% {opacity: 1;}
   40% {opacity: 1;}
   100% {opacity: 0;}
}