<!-- 타임리프의 deCoupled 로직 적용해보기.
 여기 파일을 다 HTML 로만 구성
    th:replace 들을 다 삭제
    -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>게시판 페이지</title>
</head>
<body>
  <header id="header"></header>

  <main id="article-main">
    <header> 1번글 </header>

    <aside>
      <p>bitstudy</p>
      <p><a href="mailto:goodjob0412@gmail.com">goodjob0412@gmail.com</a>goodjob0412@gmail.com</p>
      <p>2023-01-04</p>
      <p>#java</p>
    </aside>

    <section>
      <p>본문</p>
      <br /><br />

      <div>
        댓글 입력부

        <form>
          <label>댓글</label>
          <textarea placeholder="댓글 쓰기"></textarea>
          <button type="submit">쓰기</button>
        </form>

        댓글 나오는 부분
        <ul>
          <li>
            <strong>goodjob</strong>
            <time><small>2023-01-04</small></time>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. <br/>
              Porro veritatis nulla ipsa architecto temporibus quasi doloremque iure.
            </p>
          </li>
          <li>
            <strong>goodjob0412</strong>
            <time><small>2023-01-03</small></time>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </li>

        </ul>
      </div>
    </section>


    <!-- 페이지네이션 -->
    <nav>
      <a href="#">이전</a>
      <a href="#">다음</a>
    </nav>

  </main>


  <footer id="footer"></footer>

</body>
</html>