<!DOCTYPE html>
<!-- 이 파일은 thymeleaf 템플릿이라고 명시 -->
<!--하지만! 2버전까지는 써줘야 했지만 3버전부터는 안 써줘도 되긴 함-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 페이지</title>
</head>
<body>
<!--    <header id="header">헤더</header>-->
    <div th:replace="~{header :: header}"></div>

    <main>
        <form action="">
            <select id="search_type" name="search_type">
                <option value="">제목</option>
                <option value="">본문</option>
                <option value="">id</option>
                <option value="">닉네임</option>
                <option value="">해시태그</option>
            </select>
            <input type="search" placeholder="검색어를 입력하세요" name="search_value" id="search_value">
            <button type="submit">검색</button>
        </form>
    </main>

<div th:replace="~{footer :: footer}"></div>
</body>
</html>